{% extends "layout.html" %}
{% block content %}

  <body>
    <div class="img-container section">
        <br>
        <img class="responsive-img" src="static/images/GroverColor.png" width="388px"
         height="100px"  alt="Grover">
    </div>
    <div class="center section">
      <h5>¿Qué es Grover?</h5>
      <p>
        Smart Industries Grover conformado por 10 estudiantes de ingeniería con la mirada en el campo mexicano,
        blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
      </p>

           <div class="row">
               <div class="col s6">
                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="static/images/vision.jpg">
                          <span class="card-title activator white-text" style="font-size: 25pt">
                              <strong>Visión</strong></span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Visión<i class="material-icons right">close</i></span>
                        <p align="justify">Ser uno de los principales proveedores de robots agrícolas autónomos a nivel nacional, a la par de ser uno
                            de los mayores contribuyentes al desarrollo de agricultura de precisión. </p>
                      </div>
                    </div>
               </div>
               <div class="col s6">
                    <div class="card" >
                      <div class="card-image waves-effect waves-block waves-light" >
                        <img class="activator" src="static/images/objetivo.jpg">
                          <span class="card-title activator white-text" style="font-size: 25pt">
                              <strong>Objetivo</strong></span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Objetivo<i class="material-icons right">close</i></span>
                        <p align="justify">Reducir en un 60% la carga de trabajo físico del personal que labora en el sector de agricultura de mercado
                            por medio de la implementación de un Vehículo Modular Autónomo.  </p>
                      </div>
                    </div>
               </div>
           </div>

    </div>
  </body>


{% endblock content %}
