<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <style>
            h1 {text-align: center;
            }
            .img-container {
            text-align: center;
            }
            .green-grover {
            background-color: #72863f;
            }
            img {
            vertical-align: middle;
            }
    </style>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Home</title>
    {% endif %}

</head>
<body>
 <div class="navbar-fixed">
    <nav class="green-grover">
      <div class="nav-wrapper container">

        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="sidenav" id="menu-responsive">
            <li><a href="{{ url_for ('UMA') }}">UMA</a></li>
            <li><a href="{{ url_for ('livestream') }}">Live</a></li>
            <li><a href="{{ url_for ('about') }}">About</a></li>
        </ul>
        <div>
        <a href="{{ url_for ('home') }}" class="brand-logo" > <img class="responsive-img"
            width="175px"  height="45px" id="logo" src="static/images/GroverWhite.png"/></a>
        </div>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for ('UMA') }}">UMA</a></li>
            <li><a href="{{ url_for ('livestream') }}">Live</a></li>
            <li><a href="{{ url_for ('about') }}">About</a></li>
          <li>
            <a href="#" class="dropdown-trigger" data-target="id_drop">
              Documentación
              <i class="material-icons right">arrow_drop_down</i>
            </a>
              <ul class="dropdown-content" id="id_drop">
                 <li><a class="black-text" href="{{ url_for ('sim') }}">Simulación</a></li>
                  <li class="divider"></li>
                 <li><a class="black-text" href="{{ url_for ('concept') }}">Pruebas de concepto</a></li>
                  <li class="divider"></li>
                 <li><a class="black-text" href="#">Pretotipo</a></li>
                  <li class="divider"></li>
              </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>

    <main role="main" class="container">
            {% block content %}{% endblock %}
    </main>

 <footer class="page-footer green-grover">
     <div class="footer-copyright">
         <div class="container">
            © 2020 Smart Industries
            <a class="grey-text text-lighten-4 right" href="#!">drone-x.com</a>
            <a class="grey-text text-lighten-4 right" href="#!">sensum.com &nbsp</a>
         </div>
     </div>
</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
         M.AutoInit();
  });
    </script>
</body>
</html>